---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "@/components/ImageMod.astro";
const { testimonial } = Astro.props;
---

{
  testimonial.data.enable && (
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
            <h2 set:html={markdownify(testimonial.data.title)} class="mb-4" />
            <p set:html={markdownify(testimonial.data.description)} />
          </div>
          <div class="col-12">
            <div class="swiper testimonial-slider">
              <div class="swiper-wrapper">
                {testimonial.data.testimonials.map(
                  (item: {
                    content: string;
                    name: string;
                    date: string;
                  }) => (
                    <div class="swiper-slide">
                      <div class="rounded-lg bg-light px-7 py-10 dark:bg-darkmode-light">
                          <h3
                            set:text={item.name}
                            class="h5 font-primary font-semibold"
                          />
                          <p
                            set:text={item.date}
                            class="text-text-dark dark:text-white font-bold"
                          />
                          <p
                            class="mt-8"
                            set:html={markdownify(item.content)}
                          />
                      </div>
                    </div>
                  )
                )}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      centeredSlides: true,
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 3,
        },
        992: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>
